# Vim
*.swp

# sbt
target
/project/build
/leon
/setupenv
/leon-bench
/.test-history

# synthesis
derivation*.dot

# for testing purpose, I have to re-compile this library
unmanaged/64/scalaz3_2.10-2.0.jar
*.pyc
src/main/scala/leon/codegen/runtime
